apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapUsers: |
  {%- for username in IamUsernames %}
    - userarn: arn:aws:iam::{{ AwsAccountId }}:user/{{ username }}
      username: {{ username }}
      groups:
        - system:masters
  {%- endfor %}
  mapRoles: |
    - rolearn: {{ EksFargatePodExecutionRole }}
      username: system:node:{% raw %}{{SessionName}}{% endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
        - system:node-proxier
